<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdhSJdOF5btZpubzvOV3QqVJOz9Nk-3xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>289379816881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gameover.app.gameoverApp</string>
	<key>PROJECT_ID</key>
	<string>game-over-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>game-over-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289379816881:ios:e66707fe2fb081a9309990</string>
</dict>
</plist>